@import '../abstracts/mixins';


*{
    direction: ltr;
    font-family: 'Assistant-Regular';

}

html{
  font-size: 16px;
}
html, body {
    height: 100%;
    margin: 0;
  }
 
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body::-webkit-scrollbar {
    display: none;
}

#root{
  height: 100%;
}
.relative{
    position: relative
}
.flex{
    @include flex;
}
.flex-col{
    @include flex-col;
}
.flex-around-col{
    @include flex-around-col;
}
.flex-around-row{
    @include flex-around-row;
}
.flex-between-row{
    @include flex-between-row;
}
.flex-evently-col{
    @include flex-evently-col;
}
.flex-justify-col{
    @include flex-justify-col;
}
.only-flex{
    display: flex;
}
.flex-align{
    display: flex;
    align-items: center;
}
.wrap{
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}

.p-2{
    padding: 0.2rem;
}
.m-r-2{
    margin-right: 0.2rem;
}
.width-100{
    width: 100%;
}
.height-2{
    height: 2rem;
}
.hidden{
    display: none;
}
.visibility-hide{
    visibility: hidden;
}

.disabled{
    opacity: 0.6;
    cursor: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.react-tel-input .form-control{
    border: none !important;
}
.react-tel-input .flag-dropdown{
    border: none !important;
    background-color: white !important;
}
.react-tel-input .selected-flag{
    border-radius: 0px !important;
}

.react-tel-input .form-control{
    height: 2.7rem !important;
    box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px;
    background-color: white !important;
    width: 100% !important;
}

.country-list{
    display: flex;
    flex-direction: column;
}
.search{
    justify-content: left !important;
}

.Toastify__close-button{
width: 2rem;
height: 1.5rem;
}