@import '../abstracts/variables';
@import '../abstracts/mixins';

.div-img-restaruant{
    width: 100%;
    >img{
        width: 100%;
    }
}

.circle-btn{
    position: relative;
    @include flex;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    >svg{
        z-index: 3;
    }
}

.circle-btn::before{
    content:'';
    position: absolute;
    @include flex;
    border-radius: 50%;
    background-color: gray;
    width: 2rem;
    height: 2rem;
}
.buttons-div-restaruant{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    position: fixed;
    top: 0.5rem;
    z-index: 2;
}

.title-restaruant{
    opacity: 0;
}

.list-items{
    width: 100%;
    padding-bottom: 5rem;
}
.background-black-menu{
    background-color: black;
}
.infoexplantion{
    width: 100%;
    height: 8rem;
    @include flex-justify-col;
}

.restaruant-navbar-name{
    background: $header;
    opacity: 0;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 4rem;
    @include flex;
    >h1{
        font-size: 1.5rem;
        color: white;
    }

}
/*pop up cart info*/
.popup-cartInfo{
    width: 100vw;
    height: 3.8rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:center;
    bottom: 0.5rem;
}
.background-cartInfo{
    background-color: $purple;
    width: 93%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.view-order,.money-cart{
    font-size: 1.3rem;
}
.circle-count{
    width: 2.5rem;
    height: 2.5rem;
    @include flex;
    background-color: black;
    border-radius: 50%;
    margin: 0.4rem;
    >span{
        color: $purple;
        font-size: 1.5rem;
    }
}
