
@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flex-around-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@mixin flex-around-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin flex-between-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin circle-svg{
    border-radius: 50%;
    width: 2.7rem;
    height: 2.7rem;  
    background-color: $gray_x;
    @include flex;
    margin-right: 1rem;
}