/*contains all the resets, variables, mixins, and utility classes*/
/*colors*/
$background: #F2F3F8;
$yellow:#FFDC60;
$purple: #816797;
$orange: #ff9900;
$pink: #FAB8C4;
$gray: #F5F5F6;
$dark_gray: #262626;
$circle_gray: #525260;
$animation_color: #ECF2F6;
$gray_password_valid: #DAE0E7;
$dark_font: #5E5F67;
$pink_orange: #FFEDDC;
$gray_x : #404040;
$circle_pinkOrange: #FAB8C4;
$circle_cyan: #90C8FC;
$gray_pop_up: #252525;
$header: #222222;